<%- include('partials/header.ejs') %>
<main>
    <div>
        <form action="/add" method="post" style="display: flex; flex-direction: column; width: 30%; gap: 5px;">
            <input id="title" type="text" name="title" placeholder="Title">
            <input id="author" type="text" name="author" placeholder="Author">
            <input id="rating" type="number" name="rating" min="1" max="10" placeholder="Rating (1-10)">
            <input id="isbn" type="text" name="isbn" placeholder="ISBN">
            <textarea id="review" name="review" placeholder="Review"></textarea>

            <label for="date_read">
                Date read: 
                <input id="date_read" type="date" name="date_read">
            </label>
            <button type="submit">Add Book</button>
        </form>
    </div>
</main>
<%- include('partials/footer.ejs') %>